<!-- FOOTER-->
<footer class="row-fluid">
      <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Navigation</span></h4>
        <ul class="footer-links">
          <li><a href="http://www.bootstraptor.com">Home</a></li>
          <li><a href="http://www.bootstraptor.com">project</a></li>
          <li><a href="http://www.bootstraptor.com">Elements</a></li>
          <li><a href="http://www.bootstraptor.com">Contact</a></li>
          <li><a href="http://www.bootstraptor.com">Blog</a></li>
        </ul>
      </div>
	    
	  
	<div class="span3">
        <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
        <ul class="footer-links">
          <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
          <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
		<li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
         <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
         <li><a href="http://www.bootstraptor.com">Bootstrap templates</a></li>
        </ul>
    </div>
	
    <div class="span3">
        <h4 class="line3 center standart-h4title"><span>Our office</span></h4>
		<address>
			<strong>bootstraptor.com, LLC.</strong><br>
			<i class="fa-icon-map-marker"></i> 795 Folsom Ave, Suite 600<br>
			San Francisco, CA 94107<br>
			<i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890
		
		</address>
    </div>
  
<div class="span12">
	<hr>
        <p>© bootstraptor.com Company 2013</p>
</div>
	  
</footer>
<!-- /Footer-->
