<div class="span9">
  <div class="row-fluid articles-grid">
    <div class="span6">
	  <div class="thumbnail">
        <img src="http://lorempixel.com/400/200/technics/1/" alt="post image">
		  <div class="caption">
			<h3 class="">MADHYA PRADESH</h3>
			<p class="">This project presents beautiful style graphic &amp; design. Bootstraptor provides modern features</p>
			<p>
			  <a class="" href="http://www.bootstraptor.com" title="">Read more →</a>
			</p>
		  </div> 
	    </div>
      </div>
      <div class="span6">
	  <div class="thumbnail">
        <img src="http://lorempixel.com/400/200/technics/1/" alt="post image">
		  <div class="caption">
			<h3 class="">RAJSTHAN</h3>
			<p class="">This project presents beautiful style graphic &amp; design. Bootstraptor provides modern features</p>
			<p>
			<a class="" href="http://www.bootstraptor.com" title="">Read more →</a>
			</p>
		</div>
	</div>
</div>

</div>
		<div class="row-fluid">
			<div class="well">
				<div class="row-fluid">
					<div class="span8">
						<p class="lead">
			
                          Successfull Stories  
						</p>
					</div>
					<div class="span4">
						

					</div>
					
				</div>
			</div>
		</div>
	<div class="row-fluid container-folio">
		<div class="span4">
			<div class="thumbnail">
				<img src="http://lorempixel.com/400/200/technics/1/" alt="post image">
					<div class="caption">
					<h3 class="">Product title</h3>
						<p class="">This project presents beautiful style graphic &amp; design. Bootstraptor provides modern features</p>
						<div class="row-fluid">
						<div class="span6">
							<p class="lead">$21.000</p>
						</div>
						<div class="span6">
							<a class="btn btn-success btn-block" href="http://www.bootstraptor.com">Add to cart</a>
						</div>
						</div>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="thumbnail">
						<img src="http://lorempixel.com/400/200/technics/1/" alt="post image">
						<div class="caption">
						<h3 class="">Product title</h3>
							<p class="">This project presents beautiful style graphic &amp; design. Bootstraptor provides modern features</p>
							
							<div class="row-fluid">
								<div class="span6">
									<p class="lead">$21.000</p>
								</div>
								<div class="span6">
									<a class="btn btn-success btn-block" href="http://www.bootstraptor.com">Add to cart</a>
								</div>
							</div>
						</div> 
					</div>
				</div>
				<div class="span4">
					<div class="thumbnail">
						<img src="http://lorempixel.com/400/200/technics/1/" alt="post image">
						<div class="caption">
						<h3 class="">Product title</h3>
							<p class="">This project presents beautiful style graphic &amp; design. Bootstraptor provides modern features</p>
							
							<div class="row-fluid">
								<div class="span6">
									<p class="lead">$21.000</p>
								</div>
								<div class="span6">
									<a class="btn btn-success btn-block" href="http://www.bootstraptor.com">Add to cart</a>
								</div>
							</div>
						</div> 
					</div>
			    </div>
	       </div>
		<hr>

<div class="pagination pull-right">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
</div>
	
</div>
</div>

