<div class="page-header">
		<div class="container">
			<div class="row-fluid">
				<div class="span3">
					<h3><a class="brand" href="#">RISE AGRO INFRA</a></h3>
				</div>
				<div class="span9">
					<div class="row-fluid">
						<div class="span8 text-center">
							<div style="padding-top:20px;">
								<form class="form-search">
								  <div class="input-append">
									<input class="span12 search-query" type="text">
									<button type="submit" class="btn">Search</button>
								  </div>
								</form>
							</div>
						</div>
						<div class="span4">
							<p class="text-right" style="padding-top:20px;">
								<a href="http://www.bootstraptor.com"></a> 
							</p>
						</div>
				</div>
			</div>
		 </div>
			
			<div class="row-fluid">
				<div class="span3">
					<div class="well text-center">
						<%= link_to "MATRIMONY", matrimony_approved_list_path %>
					 
					</div>
				</div>
				<div class="span3 hidden-phone">
					<div class="well text-center">
						<a href="#">REAL ESTATE</a>
					</div>
				</div>
				<div class="span3 hidden-phone">
					<div class="well text-center">
						<a href="#">EARTH MOVERS</a>
					</div>
				</div>
				<div class="span3 hidden-phone">
					<div class="well text-center">
						<a href="#">SEEDS</a>
					</div>
				</div>
			</div>