<div class="span3">         
        <div class="well">
            <ul id="cat-navi" class="nav nav-list">
              <li class="nav-header">NEW</li>
              <li class="active"><a href="#">Latest Event</a></li>
              <li><a href="#">New in: Category</a></li>
              <li><a href="#">New in: Category</a></li>
              <li><a href="#">New in: Category</a></li>
              <li><a href="#">New in: Category</a></li>
              <li><a href="#">New in: Category</a></li>
            </ul>
            
            <hr>
            
            <ul id="cat-navi2" class="nav nav-list hidden-phone">
              <li class="nav-header">MOST POPURAL</li>
              <li class="active"><a href="#">Events</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
              <li><a href="#">Category title</a></li>
            </ul>
            
            
        </div><!-- /well--> 
            
            <!-- WELL OFFER-->
            <div class="well">
                <p class="lead">
                    <img src="../assets/index.jpeg"style="height: 100px; width: 90px; margin-left: -10px;">
                </p>
            </div>
            <!-- / WELL OFFER-->
            
            <!-- WELL OFFER-->
            <div class="well hidden-phone">
                <p class="lead">
                    <img src="../assets/user.jpeg"style="height: 100px; width: 90px; margin-left: -10px;">
                </p>
            </div>
            <!-- / WELL OFFER-->
            
            <!-- WELL OFFER-->
            <div class="well hidden-phone">
                <p class="lead">
                  <img src="../assets/index.jpeg"style="height: 100px; width: 90px; margin-left: -10px;">
                </p>
            </div>
            <!-- / WELL OFFER-->
            
            <!-- WELL OFFER-->
            <div class="well hidden-phone">
                <p class="lead">
                    <img src="../assets/user.jpeg"style="height: 100px; width: 90px; margin-left: -10px;">
                </p>
            </div>
            <!-- / WELL OFFER-->
            
    </div>
    <!-- /left SIDE--> 